@import "all.css";

body {
  background-color: #001;
  color: #69b;
}

a:link {
  color: #6c8;
}

a:visited {
  color: #5b7;
}

::placeholder {
  color: #68aa;
}

textarea {
  color: #68a;
  background-color: #0002;
  border-color: #0003;
}

.gray {
  background-color: #4452;
  border-color: #4453;
}

.fg {
  background-color: #fff1;
}

img.interactive,
#themech {
  filter: drop-shadow(0px 0px 2px #777);
}
