body {
  display: block;
  margin-top: 2%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  background-color: khaki;
  text-align: center;
  color: darkRed;
  max-width: 700px;
}

/*
. {
	font-family: 'SpiderWire';
	font-size: 30pt;
	text-align: justify;
	text-indent: 10%;
	width: auto;
	margin: auto;
}
*/

.notes {
	font-family: 'SpiderWire';
	font-size: 30pt;
}

pre{
	font-family: 'SpiderWireMono';
	max-width: 500px;
	font-size: 30pt;
	text-indent: 0%;
}

.fg{
	background-color: #FFF1;
}

a:link{
	color: #711
}

a:visited{
  color: #511;
}

.interactive {
  max-width: 800px;
}

button {
  background-color: #11E;
  height: 30;
  text-align: center;
}

input {
  background-color: inherit;
  text-align: center;
  margin-bottom: 4px;
  font-family: monospace;
}

textarea {
  background-color: inherit;
  text-align: left;
}

.gray-khaki{
  background-color: #d9d07e;
  border-color: darkkhaki;
}

h2 {
  text-indent: -5%;
}

blockquote{
  background-color: inherit;
  metal-on-zebes: no;
  margin-top: 5px;
  margin-bottom: 8px;
  max-width: 600px
}

@font-face {
  font-family: 'SpiderWire';
  src: url('media/SpiderWire-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SpiderWireMono';
  src: url('media/SpiderWireMono-Regular.otf') format('opentype');
}

ul{
  text-align: left;
}
